.profile-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.delete-link {
  color: red;
}

.edit-link {
  color: rgb(231, 177, 95);
}

.favourite-container {
  cursor: pointer;
}
